.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    
}

.header {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2/5;
    grid-row: 1/2;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.5);
    position: relative;
    font-weight: bold;
}

.header-buttons {
    align-self: center;
    justify-self: end;
    margin-right: 40px;
}

.header-buttons button {
    margin: 20px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    background-color: #0ea5e9;
    color: white;
}

.header-buttons button:hover {
    background-color: #077eb4;
    box-shadow: 0px 2px 2px black;
}

.search-box {
    display: flex;
    padding-top: 30px;
    padding-left: 40px;
    
}

.search-bar input {
    width: 600px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #e2e8f0;
    outline: none;
}

.search-bar input:hover,
.search-bar input:focus {
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.158);
    outline: none;
}

.search-btn {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border: none;
    background-color: white;
}

.search-btn:hover {
    transform: scale(1.2);
}

.sidebar {
    display: grid;
    background-color: #0ea5e9;
    grid-row: 1/7;
    padding: 30px;
    padding-bottom: 120%;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.dash-name {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: end;
    margin-right: 40px;

}

.alert {
    width: 30px;
    height: 30px;
    padding: 5px;
    padding-bottom: 20px;
}

.logo-name img {
    width: 60px;
    height: auto;
    margin-left: 20px;
}

.myName {
    padding-left: 30px;
    margin-right: 20px;
}

.dash-intro {
    display: flex;
    align-items: center;
}

.intro-logo img {
    width: 100px;
    height: auto;
    padding-left: 30px;
    padding-bottom: 10px;

}

.intro {
    padding-left: 20px;
}

.dashboard {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    font-size: 30px;
}
.dashboard img {
    width: 50px;
    filter: brightness(0) invert(1);
    padding-right: 10px;

}

.communities {
    padding-bottom: 60px;
}

.home {
    display: flex;
    align-items: center;
}

.home img {
    width: 25px;
    filter: brightness(0) invert(1);
    padding-right: 20px;
    padding-left: 15px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 25px;
    filter: brightness(0) invert(1);
    padding-right: 20px;
    padding-left: 15px;
}

.messages {
    display: flex;
    align-items: center;
}

.messages img {
    width: 25px;
    filter: brightness(0) invert(1);
    padding-right: 20px;
    padding-left: 15px;
}

.history {
    display: flex;
    align-items: center;
}

.history img {
    width: 25px;
    filter: brightness(0) invert(1);
    padding-right: 20px;
    padding-left: 15px;
}

.tasks {
    display: flex;
    align-items: center;
}

.tasks img {
    width: 25px;
    filter: brightness(0) invert(1);
    padding-right: 20px;
    padding-left: 15px;
}

.communities {
    display: flex;
    align-items: center;
}

.communities img {
    width: 25px;
    filter: brightness(0) invert(1);
    padding-right: 20px;
    padding-left: 15px;
}

.settings {
    display: flex;
    align-items: center;
}

.settings img {
    width: 25px;
    filter: brightness(0) invert(1);
    padding-right: 20px;
    padding-left: 15px;
}

.support {
    display: flex;
    align-items: center;
}

.support img {
    width: 25px;
    filter: brightness(0) invert(1);
    padding-right: 20px;
    padding-left: 15px;
}

.privacy {
    display: flex;
    align-items: center;
}

.privacy img {
    width: 25px;
    filter: brightness(0) invert(1);
    padding-right: 20px;
    padding-left: 15px;
}

.main-content {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column: 2/4;
    gap: 20px;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-content p {
    color: rgba(0, 0, 0, 0.541);
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.5);
    border-left: 10px solid rgb(247, 213, 62);
    
}

.box1 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.box2 {
    grid-column: 2/3;
    grid-row: 1/3;
}

.box3 {
    grid-column: 1/2;
    grid-row: 3/5;
}

.box4 {
    grid-column: 2/3;
    grid-row: 3/5;
}

.box5 {
    grid-column: 1/2;
    grid-row: 5/7;
}

.box6 {
    grid-column: 2/3;
    grid-row: 5/7;
}

.box-icons {
    display: flex;
    margin-left: 250px;
    width: 45px; 
    
}

.box-icons img {
    margin-right: 20px;
}

.announce {
    grid-column: 3/4;
    grid-row: 1/4;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.5);
} 

.trending {
    display: grid;
    grid-column: 3/4;
    grid-row: 4/7;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.5);
} 

.announce h3 {
    position: absolute;
    transform: translateY(-350%);
}

.announce p {
    font-size: 12px;
}

.announce h5 {
    margin-bottom: -6px;
    margin-top: -2px;
}

.trending h3 {
    position: absolute;
    transform: translateY(-350%);
}

.box1 h3 {
    position: absolute;
    transform: translateY(-280%);
}

.garden {
    display: flex;
    justify-content: start;
    align-items: center;
    
}

.garden img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.garden p {
    font-size: 14px;
}

.gaby {
    display: flex;
    justify-content: start;
    
}

.gaby img {
    width: 55px;
    height: 55px;
    margin-right: 5px;
    margin-top: 5px;
    margin-left: -3px;
}

.gaby p {
    font-size: 14px;
    margin-left: 3px;
}

.hugi {
    display: flex;
    justify-content: start;
    
}

.hugi img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top: 10px;
}

.hugi p {
    font-size: 14px;
}

.vegan {
    display: flex;
    justify-content: start;
    
}

.vegan img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top: 7px;
}

.vegan p {
    font-size: 14px;
}